<h4>configuration for {{selectedApplication}}</h4>
{% for group in application %}
{% set groupName = loop.key %}
<article class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                {{ groupName }}
            </a>
        </h4>
    </div>
    <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
        <div class="panel-body">
            <div class="row">
                <div class="group-form">
                    <h4>Field</h4>
                    {{fieldList}}
                </div>
            </div>
        </div>
    </div>
</article>
{% endfor %}


<div class="field-edit-modal modal fade">
    <div class="modal-dialog">
        
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 
<ul class="main-group">
    {% for prop in group %}
    <li>
        <label>{{loop.key}} 
            <a role="expand" href="#">+</a>
            <a role="collapse" class="hidden" href="#">-</a>
        </label>
        <ul class="sub-group hidden">
            <li>
                <label>something</label>
                <div class="buttons">
                    <a class="btn mini blue-stripe" role="edit" href="#" data-field="{{groupName}}|{{loop.key}}">Edit</a>
                    <a href="#" class="delete btn mini" role="delete"  data-field="{{groupName}}|{{loop.key}}">Delete</a>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <label>something</label>
                <div class="buttons">
                    <a class="btn mini blue-stripe" role="edit" href="#" data-field="{{groupName}}|{{loop.key}}">Edit</a>
                    <a href="#" class="delete btn mini" role="delete"  data-field="{{groupName}}|{{loop.key}}">Delete</a>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <label>something</label>
                <div class="buttons">
                    <a class="btn mini blue-stripe" role="edit" href="#" data-field="{{groupName}}|{{loop.key}}">Edit</a>
                    <a href="#" class="delete btn mini" role="delete"  data-field="{{groupName}}|{{loop.key}}">Delete</a>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </li>
    <hr>
    {% endfor %}
</ul> -->
