<article class="application-select col-sm-4">
    <h2> Applications </h2>
    <p>Please select an application: </p>
    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Applications<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for app in applications %}
            <li data-application="{{app}}" role="presentation">
                <a class="menu-item" role="menuitem" href="#">{{app}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</article>
