<div class="container">

    <header class="jumbotron">
        <h1>OET Configuration Manager</h1>
    </header>

    <!-- APPLICATION AND CHANNELS SELECTION -->
    <section class="configuration-selectors row"></section>
    <!-- APPLICATION AND CHANNELS SELECTION END-->

    <!-- APPLICATION AND CHANNELS SELECTION -->
        <!-- <section class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <article class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Config 1</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                CONTENT 1
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">Config 2</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                CONTENT 2
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading3">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">Config 3</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                CONTENT 3
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section> -->
     <!-- APPLICATION AND CHANNELS SELECTION -->
            
</div>