<div class="container">

    <header class="jumbotron">
        <h1>OET Configuration Manager</h1>
    </header>

    <!-- APPLICATION AND CHANNELS SELECTION -->
    <section class="configuration-selectors row">
        <article class="application-select col-sm-4">
            <h2> Applications </h2>
            <p>Please select an application: </p>
            <select class="form-control">
                {% for app in applications %}
                <option value="{{loop.key}}">{{loop.key}}</option>
                {% endfor %}
            </select>
        </article>
    </section>
    <!-- APPLICATION AND CHANNELS SELECTION END-->


    <section class="configuration-accordions row panel-group" role="tablist" aria-multiselectable="true">

    </section>

</div>
