<div class="container">
    <header>
        <h4>OET Configuration Manager</h4>
    </header>

    <!-- APPLICATION AND CHANNELS SELECTION -->
    <section class="configuration-selectors row">
        
    </section>
    <!-- APPLICATION AND CHANNELS SELECTION END-->

    <section class="save-reset-controls" id="save-reset-controls">
        <button data-role="reset">Reset</button>
        <button data-role="save">Save</button>
    </section>

    <section class="configuration-accordions row panel-group" role="tablist" aria-multiselectable="true">
        <article class="expand-collapse-all">
            <div>
                <i class="action-close glyphicon glyphicon-minus"></i>
                <a href="#" data-role="collapse-all">
                    Collapse all
                </a>
            </div>
            <div class="hidden">
                <i class="action-open glyphicon glyphicon-plus"></i>
                <a href="#" data-role="expand-all">
                    Expand all
                </a>
            </div>
            <div class="clear"></div>
        </article>

        <article class="config-tree"></article>

    </section>

    <!-- modal that renders the edit for properties  -->
        <article class="field-edit-modal modal fade">
            <div class="modal-dialog">
                
            </div>
        </article>
        <!-- end of the modal -->
</div>
