<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Rename item {{path.join('/') || 'root'}}</h4>
    </div>
    <div class="modal-body">
        <form name="{{path}}" id="configuration-property-form" onsubmit="return false;">
            <ul>
                <li>
                    <label for="type">Field/group name</label>
                    <input type="text" name="field-name" id="field-name" value="{{path[ path.length - 1 ]}}">
                    <input type="hidden" name="field-name-original" id="field-name-original" value="{{path[ path.length - 1 ]}}">
                </li>
            </ul>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-role="rename-template">Rename</button>
    </div>
</div><!-- /.modal-content -->
